.bgimage {
   background-color: #af8181;
  }

  .crdimg {
    border-radius: 50%;
    width:290px;
    height:300px
  }
  .crdimg1 {
    border-radius: 10%;
    width:190px;
    height:250px;
    margin: 10px;
  }
  .building-img {
 width: 80%;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-bottom: 5px
  }


  
.container  {
  display: flex;
  justify-content: center;
}

.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust gap between images as needed */
}

.crdimg1 {
  max-width: 100%; /* Ensure images are responsive */
  height: 80px;
  /* Optional: Add any other styling for images here */
}

@media only screen and (max-width: 720px) {
  .crdimg1 {
    max-width: 20%; /* Ensure images are responsive */
  height: 100%;
  }
  .building-img{
width: 90%;
height: 80%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.footer-para {
  display: flex;
  justify-content: center;
  align-items: center;
}